html{
    margin-top: 0!important;
    background-color: #f7f7f7;
}
.header-holder {
    width: 100%;
    height: 85px;
    background-color: #242168;
    background-image: url("../img/stripe_bg.png");
}
.logo-wrapper{
    height: 85px;
    width: 170px;
    background-repeat: no-repeat;
    background-image: url("../img/logo_done.png");
    background-position: 0 23px;
    padding: 0;
}

.search-holder{
    height: 85px;
    display: inline-block;
    margin-left: 38px;
}
.site-search-holder{

    /*float: left;*/
    width: 260px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 11px;
    padding: 5px;
    height: 52px;
    border: 1px solid rgba(255,255,255,0.13);
    margin-top: 17px;
}

.date-holder{
    height: 85px;
    display: inline-block;
    margin-left: 13px;
}
.date-search-holder{
    /*float: left;*/
    background-color: rgba(0,0,0,0.3);
    border-radius: 11px;
    padding: 5px;
    height: 52px;
    border: 1px solid rgba(255,255,255,0.13);
    margin-top: 17px;
}


#site-search{
    height: 40px;
    border-radius: 6px;
    background-color: #fff;
    outline: 0;
    border: 0;
    padding-left: 10px;
    width: 248px;
    padding-right: 25px;
}
#date-search{
    height: 40px;
    border-radius: 6px;
    background-color: #fff;
    outline: 0;
    border: 0;
    padding-left: 10px;
    width: 140px;
    padding-right: 10px;

}

#site-search::-webkit-input-placeholder ,
#date-search::-webkit-input-placeholder {
    color: #333;
}

#site-search:-moz-placeholder , /* Firefox 18- */
#date-search:-moz-placeholder { /* Firefox 18- */
    color: #333;
}

#site-search::-moz-placeholder ,  /* Firefox 19+ */
#date-search::-moz-placeholder {  /* Firefox 19+ */
    color: #333;
}

#site-search:-ms-input-placeholder ,
#date-search:-ms-input-placeholder {
    color: #333;
}

.advanced-search-holder{
    height: 85px;
    display: inline-block;
    margin-left: 13px;
    font-family: PTSans-Regular, OpenSans, arial, sans-serif;
    color: #9f9ce3;
    font-size: 16px;
    padding-top: 31px;
    vertical-align: top;
    cursor: pointer;
}
.advanced-search-holder:hover{
    color: #fff;
}
.pa-holder-inline{
    height: 85px;
    display: inline-block;
    margin-left: 13px;
    font-family: PTSans-Regular, OpenSans, arial, sans-serif;
    color: #ffffff;
    font-size: 19px;
    cursor: pointer;
    background-color: #191749;
    vertical-align: top;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: 89px;
}

.pa-holder-inline:hover{
    background-color: #2d2b85;
}

.phone-holder{
    height: 85px;
    display: inline-block;
    margin-left: 13px;
    float: right;
}
.phone-phone{
    color: #ccff00;
    font-family: "Rambla-Bold", OpenSans-Bold, arail, sans-serif;
    font-size: 24px;
    margin-top: 15px;
    text-align: right;
}
.phone-email{
    color: #8b87e4;
    font-family: "PTSans-Regular", OpenSans-Bold, arail, sans-serif;
    font-size: 14px;
    margin-top: -1px;
    text-align: right;
}
.main-search-dd {
    margin-top: 0;
    top: 85px;
}
.main-search-input-clear {
    margin-left: 225px;
    margin-top: -28px;
}
.main-menu-holder{
    width: 100%;
    height: 62px;
    background-color: #3e3a92;
    background-image: url("../img/stripe_bg.png");
    background-position:0 -1px;
}

#menu-main_menu{
    margin: 0;
    padding: 0;
}

#menu-main_menu li{
    display: inline-block;
    list-style: none;
}

#menu-main_menu li a {
    font-family: "Helvetica-Bold", OpenSans-Bold, arail, sans-serif;
    font-size: 16px;
    color: #dedcff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 23px 30px 17px 30px;
    display: inline-block;
    letter-spacing: 0.6px;
}
#menu-main_menu li a:hover {
    background-color: #ef2b2b;
    color: #fff;
}
.mb-site-content {
    background-color: #fff;

}


.site-sidebar {
    padding-left: 0;
    width: 235px;
    float: left;
    background-color: #fff;
    margin-top: 160px;
    border-right: 1px solid #dcdcdc;
}

.slider-item{
    height: 100%;
    width: 100%;

    background-size: cover;
    background-position: 50%;
}
.slider-overflower {
    height: 100%;
    background-position: 50%;
    background-size: cover;
    width: 80%;
    overflow: visible;
    margin-top: 0;
}
.slider-overflower-height{
    height: 530px;
    overflow: hidden;
    width: 100%;
}
.slider-item-vagon {
    padding-right: 30px;
    position: relative;
}
.slider-headline {
    font-family: "Helvetica-Regular", OpenSans-Regular, arail, sans-serif;
    font-size: 30px;
    color: #000;
    padding-top: 22px;
    padding-bottom: 24px;
    padding-left: 20px;
}
.slider-headline-name{

}
.slider-headline-date{
    font-size: 15px;
    color: #000;
    margin-top: 3px;
    display: inline-block;
    margin-right: 30px;


}

.slider-headline-venue {
    font-size: 15px;
    color: #848484;
    margin-top: 3px;
    display: inline-block;
}
.mirbileta-get-discount-holder{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    z-index: 90;
    height: 130px;
    padding-top: 10px;
    background-repeat: no-repeat;
    width: 20%;
    background-position: 0 15px;
}


.mirbileta-get-discount{
    background-image: url("../img/mirbileta_get_discount.png");
    height: 101px;
    width: 100px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.mirbileta-get-discount:hover{
    box-shadow: 0 0 12px rgb(204, 255, 0);
    border-radius: 50%;
}

.slider-dots-wrapper{
    bottom: 30px;
}

.slider-item-right {
    float: right;
    position: relative;
}
.slider-item-right {
    float: right;
    position: relative;
    font-size: 16px;
    display: inline-block;
    margin-top: 13px;
}
.slider-prices {
    display: inline-block;
    margin-right: 20px;
    margin-top: 3px;
}
.slider-buy-ticket {
    display: inline-block;
    margin-top: 3px;
    font-family: "Rambla-Bold",OpenSans-semibold , arail, sans-serif;
    position: absolute;
    top: 460px;
    right: 50px;
    background-color: #ef2b2b;
    color: #fff;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 2px;
}
.slider-buy-ticket:hover{
    background-color: #d02525;
}

.mb-block {
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}
.mb-action {
    display: inline-block;
    margin-right: 2%;
    position: relative;
    width: 18%;
}

.mb-action {
    display: inline-block;
    margin-right: 1%;
    position: relative;
    width: 23%;
    margin-left: 1%;
}

@media (max-width: 1300px) {

    .mb-action {
        margin-right: 1%;
        margin-left: 1%;
        width: 31%;
    }

}


.mb_h1{
    font-family: "Helvetica-Regular", OpenSans-Regular, arail, sans-serif;
    font-size: 24px;
    color: #000;
    padding-top: 50px;
    padding-bottom: 44px;
    padding-left: 20px;
    margin: 0;
}

.mb-a-title {
    font-family: "Helvetica-Bold", OpenSans-Regular, arail, sans-serif;
    font-size: 15px;
    color: #000;
    height: auto;
    padding-left: 10px;
    margin-top: 0;
    /*background-image: url("../img/stripe_5.png");*/
    background-color: #fcfff0;
    padding-top: 10px;
    padding-bottom: 12px;
}
.mb-action img{
    width: 100%;
}
.mb-a-date{
    padding-left: 10px;
    margin-top: 7px;
}
.mb-a-venue{
    padding-left: 10px;
    margin-top: 1px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.mb-a-prices-and-buy {
    width: 100%;
    /* background-color: aliceblue; */
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2px;
    padding-left: 10px;
    background-image: url("../img/stripe_5.png");
    padding-right: 10px;
    float: left;
}
.ma-a-prices {
    color: #000;
    text-decoration: none;
}

.ma-a-prices i{
    font-size: 13px;
}

.ma-a-buy {
    font-family: "Rambla-Bold",OpenSans-semibold , arail, sans-serif;
    color: #ef2b2b;
    margin-top: -18px;
    padding-bottom: 5px;
    text-align: right;
    cursor: pointer;
}
.ma-a-buy:hover {
    text-decoration: underline;
}

.mb-cal-headline{
    font-size: 15px;
    color: #000;
    font-family: OpenSans-semibold, arail, sans-serif;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 23px;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
}

.site-sidebar {
    padding-right: 0;
    padding-left: 0!important;
}
.datepicker td, .datepicker th{
    width: 40px;
    height: 33px;
    font-weight: normal!important;
}
.datepicker.datepicker-inline {
    width: 100%;
    padding: 0;
}
.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover{
    background-color: #ef2b2b!important;
    border-radius: 50%;
    background-image: none;
    color: #fff;
}
.datepicker thead{
    background-image: url("../img/stripe_5.png");
    background-position: 0 -1px;
}

.mb-special-holder{
    height: 75px;
    background-color: #4f8dff;
    position: relative;
    width: 100%;
    cursor: pointer;
    margin-top: 48px;
}
.mb-special-holder:hover{
    background-color: #ed5120;
}

.mb-special-holder:hover .mb-special-sub{
    background-color: #d60000;
}

.mb-special-name{
    font-family: "Rambla-Bold",OpenSans-semibold , arail, sans-serif;
    height: 75px;
    color: #fff;
    text-align: center;
    padding-top: 27px;
    font-size: 16px;
    padding-right: 52px;
}
.mb-special-sub{
    height: 75px;
    width: 52px;
    background-color: #427ce8;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    padding-top: 21px;
    font-size: 22px;
}

.mb-sb-item {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.mb-sb-image {
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 20px;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
}
.mb-sb-info{
    display: inline-block;
    height: 70px;
    vertical-align: top;
    padding-top: 3px;
    color: #000;
    text-decoration: none;
    font-family: OpenSans-semibold, arail, sans-serif;
    font-size: 13px;
    width: 100%;
    padding-left: 90px;
    padding-right: 5px;
    box-sizing: border-box;
}

.mb-sb-actions-count{
    font-family: OpenSans, arail, sans-serif;
    font-size: 11px;
    color: #777;
    margin-top: 4px;
    letter-spacing: 0.3px;
}
.mb-sb-item:hover {
    background-color: aliceblue;
}

.mb-sb-link-all{
    font-size: 14px;
    color: #427ce8;
    font-family: OpenSans-semibold, arail, sans-serif;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 13px;
    width: 100%;
    display: block;
    background-image: url("../img/stripe_5.png");
}
.mb-sb-headline {
    font-size: 16px;
    color: #000;
    font-family: OpenSans-semibold, arail, sans-serif;
    text-align: left;
    padding-top: 45px;
    padding-bottom: 23px;
    width: 100%;
    padding-left: 13px;
}
.footer-line-1 {
    background-image: url("../img/stripe_bg.png");
}
.footer-line-1 .logo-wrapper {
    margin-top: 4px;
}
.footer-line-2{
    background-image: url("../img/stripe_w_5.png");
}
.mb-copyright{
    width: 320px;
}
.mb-copyright a{
    font-size: 13px;
}
.mbooker-ad-holder{
    background-image: url("../img/multibooker_480.png");
    height: 288px;
    width: 480px;
    margin-top: 40px;
    float: right;
    margin-left: 50px;

}
@media (max-width: 1294px) and (min-width: 1025px){
    .site-container {
        max-width: 1145px;
    }
    .mb-site-content {
        width: 910px;
    }
}


.mb-go-to-top {
    position: fixed;
    height: 100%;
    width: 54px;
    background-color: rgba(62, 58, 146, 0.50);
    color: rgba(255,255,255,0.5);
    text-align: center;
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding-top: 20%;
    cursor: pointer;
    display: none;
    border: 0;
}
.mb-go-to-top:hover {
    background-color: rgba(62, 58, 146, 1);
    color: #fff;
}

.mb-sub-entry-title {
    font-family: 'OpenSans-semibold', arial, sans-serif;
    height: auto;
    font-size: 13.5px;
    color: #373737;
    white-space: normal;
    overflow: inherit;
    text-overflow: clip;
    padding-right: 10px;
}
.search-dd-wide {
    padding-top: 20px;
    padding-bottom: 30px;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #b8b6dc;
    background-image: url("../img/mb_icons_bg.png");
    border-bottom: 11px solid #9796b0;
    background-position: 0 2px;
}
.ms-venues-wrapper-holder{
    background-color: #f7f7f7;
}
.ms-actors-wrapper-holder{
    background-color: #f7f7f7;
}
.noPad{
    padding: 0;
}
.search-dd-wide-bg{
    background-color: rgba(233, 232, 255, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 85px;
}
.sdd-holder{
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-bottom: 4px solid #433ebd;
}
.scrolled .search-dd-wide-bg{
    display: none;
}
.main-search-close {
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: 120px;
    background-color: #ed5120;
    color: #fff;
    overflow: hidden;
    font-size: 18px;
    padding-top: 2px;
}
#menu-main_menu li:last-child a{
    color: #ccff00;
}
.filter-page-filters-wrapper {
    border: 0;
}
.site-sidebar .mb-tf-header {
    padding: 0!important;
}
.site-sidebar .mb-tf-body {
    margin-right: 0;
    padding-left: 5px!important;
    padding-right: 5px;
}
.site-sidebar input.mb-tf-rs-input {
    height: 60px;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    font-size: 20px;
}

.site-sidebar .mb-tf-title{
    display: none;
}

.site-sidebar .mb-tf-block[data-filter="price"] .mb-tf-title {
    display: block;
    padding-left: 15px;
    font-size: 20px;
    padding-bottom: 10px;
    color: #a9a9a9;
}

.site-sidebar input.mb-tf-rs-input.mb-tf-fil-to-date,
.site-sidebar input.mb-tf-rs-input.mb-tf-fil-from-date{
    font-size: 16px;
}

.irs-bar-edge{
    background-position: 0 -62px;
    border-left: 1px solid #c7a281;
    height: 9px;
    top: 27px;
}
.irs-grid-text {
    font-size: 14px;
}
.f-buttons-holder{
    width: 100%;
    margin: 0;
}


.clear-filters{
    margin-right: 0;
}
.filter-page-filters-buttons {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    border-top: 0;
}

.filter-page-filters-buttons .mb-special-holder{
    margin-top: 0;
}

.mb-action-image-holder {
    min-height: 217px;
    background-color: #f7f7f7;
    background-image: url("../img/mb_icons_bg.png");
    background-size: 60%;
    background-position: -9px 0px;
}
.ig-list-item{
    width: 134px;
    cursor: pointer;
}
.ig-list-item:hover{
    box-shadow: 0 0 12px rgb(204, 255, 0);
}


.action-places-info-holder{
    display: none;
}
.a-reviews-holder{
    display: none;
}

.action-sidebar-holder {
    margin-top: 40px;
}

.action-buy-button{
    font-family: "Rambla-Bold",OpenSans-semibold , arail, sans-serif;
    background-color: #ef2b2b;
    color: #fff;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 10px;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 2px;
    cursor: pointer;
    width: 170px;
    display: inline-block;
}

.action-buy-button:hover{
    background-color: #d82727;
}

.action-description {
    width: auto;
    float: left;
    margin-top: -80px;
    max-width: 500px;
}
.image-gallery-holder {
    width: 575px;
    float: left;
    margin-right: 25px;
    margin-bottom: 80px;
}

.action-prices{
    margin-top: 20px;
    width: 170px;
    text-align: left;
}
.mb-border-btn:hover {
    color: #fff;
    background-color: #d82727;
    border: 1px solid rgba(0,0,0,0.25);
}
.action-title{
    font-family: "Helvetica-Regular", OpenSans-Regular, arail, sans-serif;
    font-size: 30px;
    color: #000;
    padding-top: 22px;
    padding-bottom: 24px;
    padding-left: 0;
    margin-top: 50px;
    margin-bottom: 10px;
}

.buy-button-holder{
    margin-top: 35px;
}

.a-similar-holder {
    float: left;
    width: 100%;
}
.a-similar-holder .somethinggoeswrong{
    padding-left: 0;
    text-align: left;
}
.action-page .mirbileta-get-discount-holder {
    top: 64px;
    right: 220px;
}

@media (max-width: 1294px) and (min-width: 1025px){
    .action-page .mirbileta-get-discount-holder {
        right: 0;
    }
}
@media (max-width: 1742px) and (min-width: 1519px){
    .action-page .mirbileta-get-discount-holder {
        right: 0;
    }
}